<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>

                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>

                    <li class="page-scroll">
                        <a href="#about">About</a>

                    <li class="page-scroll">
                        <a href="#contact">Contact</a>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="content-wrapper" style="margin-top:120px; background-color: white;">
      <div class="row">
        <div class="col-lg-2 col-md-1">
        </div>
        <div class="col-lg-8 col-md-10">
          <h1 style="color: #8ACD35;">テスト</h1>
          <div class="type01">
        		<input type="checkbox" name="" id="" /><label>test</label>
        		<input type="checkbox" name="" id="" checked disabled/>
        		<label>test(Disabled & checked)</label>
        		<input type="radio" name="type" id="" /><label>test</label>
        		<input type="radio" name="type" id="" /><label>test</label>
          </div>
        </div>
      </div>
    </div>
      <%= javascript_include_tag 'jquery' %>
      <%= javascript_include_tag 'bootstrap.min' %>
      <%= javascript_include_tag 'custom.min' %>
      <%= javascript_include_tag 'icheck' %>
    <script>
      $(function(){
        $('input').each(function(){
            var self = $(this),
              label = self.next(),
              label_text = label.text();

            label.remove();
            self.iCheck({
              checkboxClass: 'icheckbox_line-red',
              radioClass: 'iradio_line-red',
              insert: '<div class="icheck_line-icon"></div>' + label_text
            });
          });
      });
    </script>
